@charset "utf-8";

/*----------------------*/
/* General Rules        */
/*----------------------*/

:root {
    --app-primary-color: #e2b13c;
    --app-primary-dark-color: #fab005;
    --app-secondary-color: #fff;
    --app-third-color:#000;
    --app-light-beige-color: #f8f7f6;
    --app-header-height: 80svh;
    --app-navbar-height: 50px;
    --app-banner-height: 300px;
    --app-footer-height: 60px;
    --app-footer-font-size: 16px;
    --app-section-margin-top: 30px;
    --app-section-margin-bottom: 80px;    
}

.container {
    width: min(100% - 32px, 1080px);
    margin-inline: auto;
}

body{
    font-family: "poppins", sans-serif;
    background-color: #f4f5f7;
    font-weight: 100;
}

.flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.grid-center {
    place-items: center;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.height-100 {
    height: 100%;
}

/*----------------------*/
/* Header               */
/*----------------------*/

header {
    background: #fff url('../img/banner.jpg') no-repeat center center;

    .home {
        height: var(--app-header-height);
    }

    .subpage {
        height: 14svh;
    }
}

.navbar {
    height:var(--app-navbar-height);
    padding-top: 20px;

    h3 {
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        line-height: var(--app-navbar-height);
    }
}

.navbar .logo {
    color: #fff;
    font-size: 18px;
    font-weight: 500;

    img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }    
}

nav {
    ul {
        list-style: none;

        li {
            line-height: var(--app-navbar-height);
        }
    }

    img {
        display: none
    }
}

nav ul li a {
    color: #fff;
    padding: 8px 16px;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
    font-weight: 300;
}

nav ul li a:hover {
    background-color: rgb(87 87 87 / 60%);
    border-radius: 5px;
}


/*----------------------*/
/* Hero Banner          */
/*----------------------*/

.hero-banner-content {
    color: #fff;

    p {
        font-size: 24px;
        font-weight: 500;
        text-align: center;
    }
}

.hero-banner {
    height: calc(80svh - 50px);
    text-align: center;

    h3 {
        font-size: 50px;
        font-weight: 900;
        color: var(--app-secondary-color);
        line-height: 1;
    }

    p {
        margin-top: 30px;
        font-size: 20px;
        font-weight: 400;
        color: var(--app-secondary-color);
        letter-spacing: 0.6px;
    }

    .hero-banner-buttons {
        margin-top: 30px;

        a {
            border-radius: 5px;
            padding: 8px 25px;
            font-size: 17px;
            transition: all 0.25s ease-in-out;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
        }

        .primary {
            background-color: var(--app-primary-color);
            color: var(--app-third-color);
            display: inline-block;
        }

        .primary:hover {
            background-color: var(--app-primary-dark-color);
            transform: scale(1.1);
        }    
    }
}


/*----------------------*/
/* Main                 */
/*----------------------*/
section {
    margin-top: var(--app-section-margin-top);
    margin-bottom: 10px;
    
    h3 {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 0px;
    }    
}


/* Rows */

.row {
    flex-wrap: wrap;
}

.col {
    flex: 0 0 auto;
    width: calc(50% - 10px);
    height: 600px;
    border-radius: 6px;
  
    h2 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;
      margin-right: 10px;
      text-align: right;
  }
  
    h4 {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 10px;
      margin-right: 10px;
      text-align: right;
    }
  
    h5 {
      font-size: 10px;
      font-weight: 400;
      margin-bottom: 15px;
      margin-left: 10px;
      text-align: left;
    }
  
   iframe {
    height: 350px;
    width: 80%;
    margin-top: 10px;
    margin-right: 10px;
   }
  }

.stay {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;

    h2 {
        font-size: 60px;
        color: var(--app-primary-color);
    }

    p {
        font-size: 26px;
        color: #4d5763;
        font-weight: 600;
    }
}

article {
    div {
        width: calc(100% - 30px - 30px);

        h2 {
            text-align: left;
            font-size: 26px;
            font-weight: 500;
            margin: 10px auto;
            color: #fff;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            color: #dcf6d5;
        }
    }
}

.blue article p, h2 {
    color: #041200;
}

.blue article {
    background-color: #bccdea;
}

.green article p, h2 {
    color: #041200;
}

.green article {
    background-color: #d1ddbf;
}

.our-story {
    padding: 5px;

    p {
        font-size: 16px;
        font-weight: 400;
        color: #000;
        line-height: 2.5;
        margin-bottom: 25px;
    }

    ul {
        list-style-type: none;
        list-style-position: inside;
        color: #000;
        font-size: 16px;
        font-weight: 400;

        li {
            padding-left: 10px;
            line-height: 2.5;
        }

        li::marker {
            content: "\f00c";
            font-family: FontAwesome;
            margin-right: 10px;
        }
    }
}

.our-team-container .box{
    flex: 0 0 auto;
    width: calc(25% - 10px);
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
    font-size: 16px;
    font-weight: 400;
    
    span {
        font-weight: 600;
    }
}

.member-image img {
    max-width: 100px;
    border-radius: 50%;
    border: 1px solid #f3f7f7;
    margin-bottom: 30px;
}

.member-text {
    font-size: 14px;
}

/* Contact us */

.contact {
    gap: 20px;
    flex-wrap: wrap;
}

.data {
    flex: 0 0 auto;
    width: calc(50% - 10px);
    height: 600px;
    border-radius: 6px;
  
    h2 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;
      margin-right: 10px;
      text-align: left;
    }

    h3 {
      font-size: 19px;
      font-weight: 450;
      margin-bottom: 10px;
      margin-right: 10px;
      text-align: left;
    }
  
    h4 {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 10px;
      margin-right: 10px;
      text-align: left;
    }
  
    h5 {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 15px;
      text-align: left;
    }
  
    .logo-contact {
        width: 150px;
    }

    iframe {
      height: 375px;
      width: 100%;
      margin-top: 10px;
      margin-right: 10px;
   }
}

.client {
    background-color: transparent;
    width: calc(50% - 20px);
    padding: 0px;
    margin-bottom: 200px;
}
  
.hotel {
    background-color: #f0f0f0;
    align-items: right;
    padding: 15px;
    width: calc(50% - 20px);
    margin-bottom: 100px
}

form {
    font-size: 16px;
    font-weight: 300;

    div {
        margin: auto 14px 15px auto;
    }

    .text-input {
        background-color: #e6e6e8;
        color: black;
        padding: 8px 8px 8px 15px;
        width: 450px;
        border: 2px 2px 2px 2px;
        border-radius: 5px;
    }

    textarea {
        height: 70px;
        width: 450px;
        resize: none;
        background-color: #e6e6e8;
        border-radius: 5px;
        padding: 8px 8px 8px 15px;
    }

    h3 {
        font-size: 10px;
        font-weight: 350;
    }

    .submit {
        color: black;
        padding: 10px;
        border: 10px;
        margin-bottom: 20px;
        margin-top: 0px;
        border-radius: 6px;
        background-color: #ecb13c;
    }
    
    .submit:hover {
        background-color: #fab005;
        transition: all 0.2ms;
    }    
}

/*-----------------------*/
/* Footer                */
/*-----------------------*/

footer {
    height: var(--app-footer-height);
    background-color: rgb(0 0 0 / 10%);

    ul {
        list-style: none;

        div {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 1px solid rgb(0 0 0 / 20%);
        }
    }

    .copyright {
        line-height: var(--app-footer-height);
        font-size: var(--app-footer-font-size);
        font-weight: 400;
        color: rgb(0 0 0 / 80%);
    }

    a {
        color: rgb(0 0 0 / 60%);
        font-size: var(--app-footer-font-size);
    }

    a:hover div {
        background-color: #fff;
    }

    a:hover .fa-facebook-f {
        color: #0866ff;
    }

    a:hover .fa-instagram {
        color: #fd07b0;
    }

    a:hover .fa-x-twitter {
        color: #000;
    }
}


/*-----------------------*/
/* Media queries         */
/*-----------------------*/

@media screen and (max-width: 768px) {
    form {
        .text-input {
            width: 290px
        }
    }
}

@media screen and (max-width: 640px) {

    .data {
        width: 100%;
    }

    .hotel {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .client {
        margin-bottom: 50px;
    }

    nav {
        ul {
            li {
                display: none;
            }
            img {
                display: inline;
                height: 45px;
                width: 60px;
                line-height: var(--app-navbar-height);
                padding: 8px 16px;
            }
        }
    }

    form {
        .text-input {
            width: 290px;
        }
    }

    footer {
        ul {
            justify-content: center;
            place-items: center;
            }  

        div {
            p {
               font-size: 11px; 
            }
        }
    }
}

@media screen and (max-width: 480px) {
    footer {
        div {
            p {
                font-size: 9px
            }
        }
    }
}
